$clr-blue-100:  hsl(223, 100%, 88%);
$clr-blue-200:  hsl(223, 87%, 63%);
$clr-blue-300:  hsl(209, 33%, 12%);

$clr-red-100: hsl(354, 100%, 66%) ;

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-150: hsl(250, 37%, 97%);
$clr-neutral-200: hsl(0, 0%, 59%);


